.set {
  position: absolute;
  top: 3%;
  left: 20%;
}

@media only screen and (min-width: 768px) {
  .set {
    position: absolute;
    top: 3%;
    left: 35%;
  }
}
@media only screen and (max-width: 568px) {
  .set {
    position: absolute;
    top: 3%;
    left: 9%;
  }
}
